body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d2227;
  margin: 0; }

a {
  text-decoration: none; }

.jobs {
  padding: 0 2.5em;
  box-sizing: border-box;
  max-width: 35em;
  margin: 0 auto;
  background-color: #1d2227; }
  .jobs .campudus-logo {
    display: block;
    margin: 8em 0 3em 0; }
  .jobs h4 {
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0 0 3em 0; }
  .jobs .jobLink {
    display: block;
    cursor: pointer;
    color: #1d2227;
    background: white;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold; }
    .jobs .jobLink:last-child {
      margin-bottom: 0; }
  .jobs .footer {
    margin-top: 3em;
    overflow: hidden; }
    .jobs .footer .digitize-logo {
      width: 11em; }
    .jobs .footer address {
      color: white;
      font-style: normal;
      display: inline-block;
      float: right;
      text-align: right;
      font-size: 0.9em; }
      .jobs .footer address a {
        color: white;
        font-size: 0.9em;
        margin-top: 8px;
        display: block;
        font-weight: bold; }
      .jobs .footer address span {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold; }
    .jobs .footer .imprint {
      display: block;
      margin-top: 4em;
      color: #44A9A2;
      text-align: right; }

@media (max-width: 450px) {
  .jobs .footer {
    padding-top: 2em; }
    .jobs .footer address {
      float: none;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%; }
    .jobs .footer .imprint {
      text-align: left;
      margin: 1em 0 2em 0; } }
