$colorBlue: #006db4;
$colorYellow: #ffe431;
$colorBlack: #232323;
$colorDarkGrey: #2e2e2e;
$colorWhite: #fff;
$colorTextGrey: #919191;
$colorTextLightBlue: #adcee3;

$paragraphText: 18px;
$headText: 24px;
$heroText: 31px;

$paragraphTextTablet: 14px;
$headTextTablet: 20px;
$heroTextTablet: 27px;

$paragraphTextMobile: 12px;
$headTextMobile: 14px;
$heroTextMobile: 16px;

$arrowDownWidth: 50px;
$arrowDownWidthMobile: 40px;
