body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d2227;
  margin: 35px 0;
  font-size: 18px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;

  b {
    color: #44A9A2;
  }
}

.page {
  background-color: white;
  max-width: 50em;
  margin: 0 auto;

  .header {
    width: 100%;
    height: 60px;
    overflow: hidden;

    h1, .just-img {
      float: left;
      width: 50%;
    }

    h1 {
      display: inline-block;
      margin: 0;
      text-align: center;
      line-height: 60px;
      font-size: 1.1em;
    }

    .just-img {
      position: relative;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1d2227;

      img {
        width: 60%;
        min-width: 9em;
        display: inline-block;
      }
    }
  }

  .intro, .lists {
    padding: 3em 4em 3em 2em;
  }

  .intro {
    a {
      font-size: 1em;
      color: #44A9A2;
      display: inline-block;
    }
  }

  .unsorted-list {
    margin-bottom: 35px;
  }

  .black-logo {
    max-width: 17em;
    margin: 0 auto;
    display: block;
    padding-bottom: 35px;
    padding-top: 50px;
  }

  .footer {
    display: flex;
    position: relative;
    background-color: #1d2227;
    padding: 5em 0 2em 0;

    .digitize-logo {
      position: relative;
      z-index: 1;
      width: 12.5em;
      display: block;
    }

    .rocket-launch {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: auto;
      height: 105%;
      z-index: 0;
    }

    address {
      position: relative;
      z-index: 1;
      flex: 1;
      color: white;
      font-style: normal;
      display: block;
      text-align: right;
      font-size: 0.8em;

      a {
        color: white;
        font-size: 0.9em;
        margin-top: 8px;
        display: block;
        font-weight: bold;
      }

      span {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      .imprint {
        display: inline-block;
        margin-top: 10px;
        color: #44A9A2;
      }
    }
  }
}

.title {
  font-size: 22px;
  margin: 0;
  font-weight: 300;
}

.body-office-img {
  display: block;
  width: 100%;
}

.header-img {
  background-color: #1d2227;
}


//Tablet
@media (min-width: 640px) and (max-width: 50em) {
  .page {

    a {
      font-size: 14px;
    }

    p, li {
      font-size: 14px;
    }

    .title {
      font-size: 20px;
    }

    .header {

      h1 {
        font-size: 16px;
      }

    }

    .lists .unsorted-list {
      margin-bottom: 20px;
    }

    .black-logo {
      padding-top: 0px;
    }
  }
}

//Smartphone
@media (max-width: 641px) {

  .title {
    font-size: 18px;
  }

  a {
    font-size: 12px;

  }

  .page {

    p, li {
      font-size: 12px;
    }

    .header {
      height: 100%;

      h1 {
        font-size: 16px;
        line-height: normal;
        text-align: left;
        padding: 20px 20px 0px 20px;
        box-sizing: border-box;
      }

      h1, .just-img {
        float: none;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        justify-content: flex-start;
      }
    }

    .intro, .lists {
      padding: 20px;
    }

    .lists .unsorted-list {
      margin-bottom: 20px;

      ul {
        padding-left: 20px;
        margin: 15px 0;
      }

    }

    .black-logo {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }

    .footer {
      .rocket-launch {
        height: 50%
      }
    }
  }
}

@media (max-width: 450px) {
  .page .footer {
    padding-top: 2em;
    flex-direction: column;

    .rocket-launch {
      height: 30%;
      transform: translateX(0);
      right: 0;
    }

    address {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }
}