<div class="vcard">
  <div class="fn org">
    <span class="organization-name">Campudus GmbH</span>
  </div>
  <div>
    <a class="email" href="mailto:info@campudus.com">info@campudus.com</a>
  </div>

  <div class="adr">
    <div class="street-address">Birkenstr. 37</div>
    <span class="postal-code">84032</span> <span class="locality">Landshut</span>

    <div class="country-name">Germany</div>
  </div>
  <div class="tel">Tel: <span class="value">+49 151 569 1234 7</span></div>
  <div>Web: <a class="url" href="http://www.campudus.com">www.campudus.com</a></div>
</div>
