<footer class="site-footer">
  &copy; 2015 Campudus

  {% if page.layout == "post" %}
  {% assign allPages = site.posts %}
  {% else %}
  {% assign allPages = site.pages %}
  {% endif %}

  {% capture myId %}{% include function.get-id-of-page.lq page=page %}{% endcapture %}

  {% for p in allPages %}
  {% capture pId %}{% include function.get-id-of-page.lq page=p %}{% endcapture %}

  {% if pId == myId and p.lang == 'en' %}
  {% assign engFound = p %}
  {% endif %}
  {% endfor %}

  {% for p in allPages %}
  {% capture pId %}{% include function.get-id-of-page.lq page=p %}{% endcapture %}

  {% if pId == myId and p.lang == 'de' %}
  {% assign gerFound = p %}
  {% endif %}
  {% endfor %}

  {% if engFound != nil %}
  <a href="{{ engFound.url }}">English</a>
  {% else %}
  <span class="unavailable">English</span>
  {% endif %}

  {% if gerFound != nil %}
  <a href="{{ gerFound.url }}">Deutsch</a>
  {% else %}
  <span class="unavailable">Deutsch</span>
  {% endif %}
</footer>
