{% capture replaced %}/{{ page.lang }}{% endcapture %}
{% assign translated = page.url | replace: replaced, '' %}
{% capture eng %}en{{ translated }}{% endcapture %}
{% capture ger %}de{{ translated }}{% endcapture %}
{% capture engUrl %}/en{{ translated }}{% endcapture %}
{% capture gerUrl %}/de{{ translated }}{% endcapture %}
{% capture aps %}{{ site.pages | map: 'url' | join: '***' }}***{{ site.posts | map: 'url' | join: '***'}}{% endcapture %}
{% assign allPages = aps | split: '***' %}

<footer class="site-footer">
  &copy; 2015 Campudus

  {% if allPages contains engUrl %}
  <a href="{{ eng | prepend: site.baseurl }}">English</a>
  {% else %}
  <span class="unavailable">English</span>
  {% endif %}{% if allPages contains gerUrl %}
  <a href="{{ ger | prepend: site.baseurl }}">Deutsch</a>
  {% else %}
  <span class="unavailable">Deutsch</span>
  {% endif %}
</footer>
