//@import "compass/css3";

$sourcesans: 'Source Sans Pro', sans-serif;
$leagueGothic: 'League Gothic', sans-serif;

$text-color: #fff;
$campudus-blue: #006db4;
$light-color: #0093eb;
$highlight-color: #f7d933;
$dark-color: #005993;
$darker-color: #00446E;
$gray: rgba(0, 0, 0, 0.25);
$tech-item-inset-color: $gray;

body, html {
  font-size: 12px;
  background-color: $campudus-blue;
}

// Font sizes
@media only screen and (min-width: 64.063em) {
  body, html {
    font-size: 16px;
  }
}

a {
  color: $text-color;
  &:hover, &:visited {
    color: $text-color;
  }
  &:active {
    color: $highlight-color;
  }
}

// Foundation override
.row {
  max-width: 100rem;
  border-bottom: 3px solid #fff;
  padding: 11% 0;
}

@media only screen and (max-width: 64.063em) {
  .content-wrapper .columns {
    margin-bottom: 4em;
  }
}

.character .kind {
  padding-top: 3em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kind {
  cursor: pointer;

  .kind-wrapper {
    margin-bottom: 0;
    padding: 0;

    .kindColumn:last-child {
      margin-bottom: 0;
    }
  }
}

header.row {
  border: none;
  padding: 2% 0 0 0;
}

i {
  font-style: normal;
  //SEO Text
  span {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $leagueGothic;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;

}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  line-height: 1.5em;
  font-family: $sourcesans;
  font-weight: 300;
  font-size: 1.25rem;
  max-width: 30em;
  text-align: center;
  margin: 0 auto;

  &.intro {
    margin-bottom: 3rem;
  }

  &.small {
    font-size: 16px;
  }

  &.wider {
    max-width: 40em;
  }

  @media only screen and (max-width: 1025px) {
    &.wider {
      max-width: 30em;
    }
  }
}

.marginBottom {
  margin-bottom: 11%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#logo {
  font-size: 30px;

  @media only screen and (min-width: 40.063em) {
    font-size: 40px;
  }
}

header div, .headtext div, .content div, .character div, .technology div, .contact div {
  text-align: center;
}

.headtext {
  text-align: center;

  @media only screen and (min-width: 40.063em) {
    padding-top: 11%;
  }

  h1 {
    background: $highlight-color;
    color: $campudus-blue;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    display: inline-block;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    font-size: 14vw;

    @media only screen and (min-width: 40.063em) {
      font-size: 6vw;
      white-space: nowrap;
    }
  }

  p {
    max-width: 30em;
    margin: 0 auto;

    &.small {
      &:before {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #ffffff;
        margin: 20px auto;
        content: " ";
      }
    }

    &.intro {
      margin-bottom: 0.5em;
      @media only screen and (min-width: 40.063em) {
        font-size: 1.8vw;
      }
    }
  }

}

.philosophy h2 {
  text-align: center;
}

// Form
form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

i.icon-check, i.icon-star, i.icon-plus, i.icon-commenting-o, .icon-bubble {
  position: relative;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

i.icon-plus {
  font-size: 2.5rem;
  color: $highlight-color;
}

.character .checked i.icon-check {
  -webkit-transform: scale(2) translate(0, -10px);
  transform: scale(2) translate(0, -10px);
}

.checked i.icon-check {
  color: $highlight-color;
  display: inline-block;
}

.technology .checked i.icon-check {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.technology-header {
  padding: 0 0 11% 0;
  border-bottom: none;
  font-size: 1rem;

  h2 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 5em;
  }

  .ampersand {
    position: relative;

    h2 {
      font-size: 10em;
      font-family: $sourcesans;
      color: $dark-color;
      font-weight: bold;
      margin: -0.3em 0 0 0;
    }
  }

  .skill, .interest {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;

    h3 {
      margin: 0 0 0 5px;
      font-size: 3em;
    }

    i {
      font-size: 4em;
    }

    i, h3 {
      display: inline-block;
      color: $highlight-color;
      vertical-align: middle;
    }
  }
}

.tech-item-wrapper.row, .custom-capabilities {
  padding: 0 0.9375rem;
  border-bottom: none;
}

.tech-item {
  cursor: pointer;
  font-size: 1rem;

  &.columns {
    margin-bottom: 2rem;
  }

  &[class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  .tech-icon {
    position: relative;
    background-color: $dark-color;
    padding: 2em;
    border-bottom: 3px solid $campudus-blue;
    height: calc(100% - 60px);

    .icon-times {
      position: absolute;
      color: $darker-color;
      top: 0;
      right: 0;
      font-size: 32px;
      width: 51px;
      z-index: 333;
    }

    .icon-bubble, .icon-times {
      display: block;
    }

    .icon-commenting-o {
      display: none;
    }

    &.add-tech {
      .icon-bubble, .icon-times {
        display: none;
      }

      .icon-commenting-o {
        display: block;
      }
    }

    &.own-tech {
      height: 100%;

      input:focus::-webkit-input-placeholder {
        color: transparent;
      }
      input:focus:-moz-placeholder {
        color: transparent;
      }
      /* FF 4-18 */
      input:focus::-moz-placeholder {
        color: transparent;
      }
      /* FF 19+ */
      input:focus:-ms-input-placeholder {
        color: transparent;
      }
      /* IE 10+ */

      input {
        display: inline-block;
        width: 100%;
        border: none;
        border-bottom: 5px solid $text-color;
        padding: 1.5rem 0.5rem 0.5rem 0;
        background-color: $dark-color;
        outline: none;
        text-transform: uppercase;
        color: $text-color;
        font-family: $leagueGothic;
        font-size: 2.25em;
        text-align: center;
        margin-bottom: 3.5rem;
        -webkit-appearance: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $darker-color;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $darker-color;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $darker-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $darker-color;
        }
      }
    }
  }

  .choose-tech {
    background-color: $campudus-blue;
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    float: left;

    span {
      display: block;
      background-color: $dark-color;
      width: calc(50% - 1.5px);
      position: relative;
      margin: 0;
      height: 100%;

      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }

      i, p {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0); /* IE 9 */
        -webkit-transform: translate3d(-50%, -50%, 0); /* Safari */
      }

      i {
        color: $darker-color;
        font-size: 2em;
      }

      p {
        display: none;
        font-family: $leagueGothic;
      }

      &.checked {
        height: 100%;

        i {
          display: none;
        }

        p {
          display: inherit;
          width: 100%;
          color: $highlight-color;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          font-size: 1.5em;
          white-space: nowrap;
          -webkit-font-smoothing: antialiased;
        }
      }

    }
  }

  h3 {
    margin: 0.3em 0 0 0;
    padding: 0;
  }

  .description {
    display: none;
  }

  i {
    font-size: 4rem;
  }

  i.icon-vertx {
    font-size: 2rem;
  }

  &.checked {
    .shadow {
      opacity: 1;
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: -1;
    background-color: $campudus-blue;
  }

}

html.no-touch {
  .tech-item.checked:hover {
    position: relative;
    z-index: 3;
  }

}

@media only screen and (min-width: 40.063em) {
  .technology .medium-block-grid-2 > li {
    width: 48%;
    list-style: none;
  }
}

@media only screen and (min-width: 64.063em) {
  .technology .large-block-grid-4 > li {
    width: 23%;
    list-style: none;
  }
}

@media only screen and (max-width: 64.063em) {
  .technology-header {
    .ampersand h2 {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1231px) {
  .technology-header {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1231px) and (min-width: 64.063em) {
  .technology-header {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 641px) {
  .tech-item {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    float: none;
    overflow: hidden;

    &[class*="column"] + [class*="column"]:last-child {
      float: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .technology-header {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 385px) {
  .technology-header {
    font-size: 0.6rem;
  }
}

#recruitment {

  input {
    border-radius: 8px;
    border: 0;
    background-color: $dark-color;
    height: 3.5rem;
    font-family: $leagueGothic;
    font-size: 2.5rem;
    color: $highlight-color;
    text-align: center;

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &:-moz-placeholder {
      color: $gray;
    }

    &::-moz-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }
  }

  label {
    color: white;
    text-transform: uppercase;
  }

  label, button {
    font-size: 2.5rem;
    font-family: $leagueGothic;
  }

  button {
    margin-top: 3rem;
    position: relative;
    padding: 0.5rem 2rem 0.5rem 2.5rem;
    border-radius: 8px;
    background-color: $light-color;
    border: 2px solid $dark-color;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 $dark-color;
    outline-style: none;

    &:hover {
      background: $campudus-blue;
    }

    i {
      display: inline-block;
      font-size: 2rem;
    }
  }
}

.checked .reset-points {
  visibility: visible;
}

.number {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 5px;
  color: $highlight-color;
}

.reset-points {
  display: block;
  visibility: hidden;
  padding: 1rem 0;
  color: $highlight-color;
  text-align: left;
  box-sizing: border-box;
}

.character {

  .head-line {
    padding-bottom: 3rem;
  }

  .avatar {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: $light-color;
    border: 3px solid $dark-color;
    margin: 0 auto;

    .pointsContainer {
      position: absolute;
      right: 0;
      top: 5%;

      &.highlight .value {
        background-color: $text-color;
        border: 7px solid $highlight-color;

        span {
          color: $dark-color;
        }
      }

      .plus {
        display: inline-block;
        font-size: 30px;
        top: -33px;
        right: 0;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
      }

      .value {
        position: relative;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
        background-color: $light-color;
        border: 7px solid $dark-color;
        font-size: 3rem;
        font-family: $leagueGothic;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0); /* Safari */
          transform: translate3d(-50%, -50%, 0);
          color: $text-color;
        }
      }
    }

    .avatar-icon {
      width: 85%;
      height: 85%;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: transform 0.2s ease-in-out;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: auto;
      margin-top: 7%;
    }

    .svg & {
      .design-doctor {
        background-image: url("/images/recruit/designDoctor.svg");
      }

      .frontend-ninja {
        background-image: url("/images/recruit/fearless_frontend_ninja.svg");
      }

      .full-stack {
        background-image: url("/images/recruit/hulk.svg");
      }

      .backend-bear {
        background-image: url("/images/recruit/bashing_backend_bear.svg");
      }
    }

    .no-svg & {
      .design-doctor {
        background-image: url("/images/recruit/designDoctor.png");
      }

      .frontend-ninja {
        background-image: url("/images/recruit/fearless_frontend_ninja.png");
      }

      .full-stack {
        background-image: url("/images/recruit/full_stack_hacker.png");
      }

      .backend-bear {
        background-image: url("/images/recruit/bashing_backend_bear.png");
      }
    }
  }

  .notify {
    background-color: $dark-color;
    margin-top: 3rem;
    padding: 1rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: 300;
    font-family: $sourcesans;

    span {
      color: $highlight-color;
      font-size: 2rem;
      font-weight: 600;
      margin: 0 5px;

      &.number {
        font-size: 2rem;
      }
    }
  }

  @media only screen and (max-width: 1439px) and (min-width: 1025px) {
    .avatar {
      width: 100%;
      max-width: 225px;
      height: 225px;

      .pointsContainer {
        top: -3%;
      }
    }

    h3 {
      font-size: 2rem;
    }

    .description, a {
      font-size: 1rem;
    }
  }

  @media only screen and (min-width: 1440px) {
    .avatar {
      width: 100%;
      max-width: 320px;
      height: 320px;
    }
  }

  @media only screen and (min-width: 1025px) {
    h3, .description {
      text-align: left;
    }
  }

  @media only screen and (max-width: 1024px) {
    .reset-points {
      text-align: center;
      font-size: 1.5rem;
    }

    .avatar {
      float: none;
    }
  }

}

footer {
  .row {
    padding: 2%;
    border: 0;
  }

  ul {
    list-style-type: none;

    li {
      font-family: $leagueGothic;
      font-size: 1.75rem;
      text-transform: uppercase;
      text-align: center;

      &.home {
        text-align: right;
      }

      &.imprint {
        text-align: left;
      }
    }
  }

  a:hover, a:focus {
    color: $highlight-color;
  }
}