//@import "compass/css3";

$sourcesans: 'Source Sans Pro', sans-serif;
$leagueGothic: 'League Gothic', sans-serif;

$text-color: #FFFFFF;
$campudus-blue: #006DB4;
$light-color: #0093EB;
$highlight-color: #F7D933;
$dark-color: #005993;
$darker-color: #00446E;
$gray: rgba(0, 0, 0, 0.25);
$tech-item-inset-color: $gray;

@-webkit-keyframes doit /* Safari and Chrome */
{
  0% {

    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);

  }

  50% {

    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);

  }

  100% {
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    -webkit-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    -webkit-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
  }
}

body, html {
  font-size: 1rem;
  background-color: $campudus-blue;
}

a {
  color: $text-color;
  &:hover, &:visited {
    color: $text-color;
  }
  &:active {
    color: $highlight-color;
  }
}

// Foundation override
.row {
  max-width: 100rem;
  border-bottom: 3px solid #FFFFFF;
  padding: 11% 0;
}

.langSwitcher {
  margin-bottom: 4em;
  width: 100%;

  .languageWrapper {
    float: right;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;

    li {
      display: inline-block;
      float: left;

      a {
        display: inline-block;
        padding: 0.5rem 0.5rem;
      }
    }
  }

  a {
    font-family: $sourcesans;
  }
}

@media only screen and (max-width: 64.063em) {
  .content-wrapper .columns {
    margin-bottom: 4em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  .row {
    padding: 4em 0;
  }
}

header.row {
  border: none;
  padding: 2% 0 0 0;
}

i {
  font-style: normal;
  //SEO Text
  span {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, div, span, i, address {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, address {
  color: white;
}

h1, h2, h3, h4, h5, h6, address {
  font-family: $leagueGothic;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2.5em;
}

address {
  .address-email-tel {
    width: 100%;

    p {
      font-size: 1rem;

      a, span {
        display: inline-block;
      }

      span.pre-tag {
        margin-right: 2.5%;
      }

      a {
        text-transform: lowercase;
        cursor: pointer;
      }
    }
  }

  .address-email-tel p, .address-data p {
    font-style: normal;
  }

  .address-data {
    margin-bottom: 1rem;
  }
}

p {
  line-height: 1.5em;
  font-family: $sourcesans;
  font-weight: 300;
  font-size: 1.25em;
  max-width: 30em;
  text-align: center;
  margin: 0 auto;

  a, a:link, a:visited {
    color: $highlight-color;
  }

  &.intro {
    margin-bottom: 3rem;
  }

  &.small {
    font-size: 16px;
  }

  &.wider {
    max-width: 40em;
  }

  @media only screen and (max-width: 1025px) {
    &.wider {
      max-width: 30em;
    }
  }
}

// Font sizes

@media only screen and (max-width: 1600px) and (min-width: 1231px) {
  body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1231px) and (min-width: 64.063em) {
  body, html {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 64.063em) {
  body, html {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  body, html {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 385px) {
  body, html {
    font-size: 0.85rem;
  }
}

.marginBottom {
  margin-bottom: 7rem;

  @media only screen and (max-width: 1025px) {
    margin-bottom: 4rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#logo {
  font-size: 30px;

  @media only screen and (min-width: 40.063em) {
    font-size: 40px;
  }
}

header div, .headtext div, .content div, .character div, .technology div, .contact div {
  text-align: center;
}

.headtext {
  text-align: center;

  @media only screen and (min-width: 40.063em) {
    padding-top: 11%;
  }

  h1 {
    background: $highlight-color;
    color: $campudus-blue;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    display: inline-block;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    font-size: 14vw;

    @media only screen and (min-width: 40.063em) {
      font-size: 6vw;
      white-space: nowrap;
    }
  }

  p {
    max-width: 30em;
    margin: 0 auto;

    &.small {
      &:before {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #FFFFFF;
        margin: 20px auto;
        content: " ";
      }
    }

    &.intro {
      margin-bottom: 0.5em;
    }
  }

}

.philosophy h2 {
  text-align: center;
}

// Form
form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

i.icon-check, i.icon-star, i.icon-plus, i.icon-commenting-o, .icon-bubble {
  position: relative;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

i.icon-plus {
  font-size: 2.5em;
  color: $highlight-color;
}

.character .kind {
  padding-top: 3em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  cursor: pointer;

  &.columns {
    margin: 0;
  }

  .kind-wrapper {
    padding: 0;

    .kindColumn:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 1440px) {
    .kind-wrapper {
      margin-bottom: 2rem;
    }
  }
}

.checked i.icon-check {
  color: $highlight-color;
  display: inline-block;
}

.technology, .philosophy {
  > .columns {
    margin: 0;
  }
}

.technology-header {
  padding: 0 0 11% 0;
  border-bottom: none;

  h2 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .ampersand {
    position: relative;

    h2 {
      font-size: 10em;
      font-family: $sourcesans;
      color: $dark-color;
      font-weight: bold;
      margin: -0.3em 0 0 0;
    }
  }

  .skill, .interest {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;

    h3 {
      margin: 0 0 0 5px;
    }

    i {
      font-size: 4em;
    }

    i, h3 {
      display: inline-block;
      color: $highlight-color;
      vertical-align: middle;
    }
  }

  @media only screen and (max-width: 64.063em) {
    .ampersand h2 {
      margin: 0;
      font-size: 6rem;
    }
  }

  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 3em;
    }

    .ampersand h2 {
      font-size: 4rem;
    }

    .skill, .interest {
      i {
        font-size: 3rem;
      }

      h3 {
        font-size: 1.8rem;
      }
    }
  }
}

.tech-item-wrapper.row {
  padding: 0 0.9375rem;
  border-bottom: none;
}

.tech-item {
  cursor: pointer;

  &.columns, &.columns:last-child {
    margin-bottom: 2rem;
  }

  &[class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  &.anim {
    .tech-icon .tech-icon-wrapper {
      animation: doit 0.2s;
      -moz-animation: doit 1s; /* Firefox */
      -webkit-animation: doit 0.2s; /* Safari and Chrome */
      -webkit-animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }

  .tech-icon .tech-icon-wrapper i, .own-tech i {
    font-size: 4em;
    display: block;
    height: 1.5em;
    position: relative;

    &.icon-jenkins:before {
      font-size: 1.6em;
    }

    &.icon-vertx:before {
      font-size: 0.6em;
    }

    &:before {
      font-size: 1em;
      position: absolute;
      margin: 0 auto;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0);
      line-height: 1em;

    }
  }

  .tech-icon {
    position: relative;
    background-color: $dark-color;
    padding: 2em;
    border-bottom: 3px solid $campudus-blue;
    height: calc(100% - 60px);

    .tech-icon-wrapper {
      height: 100%;
    }

    .icon-times {
      position: absolute;
      color: $darker-color;
      top: 0;
      right: 0;
      font-size: 32px;
      width: 51px;
      z-index: 333;
    }

    .icon-bubble, .icon-times {
      display: block;
    }

    .icon-commenting-o {
      display: none;
    }

    &.add-tech {
      .icon-bubble, .icon-times {
        display: none;
      }

      .icon-commenting-o {
        display: block;
      }
    }

    &.own-tech {
      height: 100%;
      border-bottom: none;

      .remove-button:before {
        top: 50%;
        transform: translate3d(-50%, -50%, 0)
      }

      input:focus::-webkit-input-placeholder {
        color: transparent;
      }
      input:focus:-moz-placeholder {
        color: transparent;
      }
      /* FF 4-18 */
      input:focus::-moz-placeholder {
        color: transparent;
      }
      /* FF 19+ */
      input:focus:-ms-input-placeholder {
        color: transparent;
      }
      /* IE 10+ */

      input {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        border: none;
        border-bottom: 5px solid $text-color;
        padding: 1.5rem 0.5rem 0.5rem 0;
        background-color: $dark-color;
        outline: none;
        text-transform: uppercase;
        color: $text-color;
        font-family: $leagueGothic;
        font-size: 2.25em;
        text-align: center;
        margin-bottom: 3.5rem;
        -webkit-appearance: none;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $darker-color;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $darker-color;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $darker-color;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $darker-color;
        }
      }
    }
  }

  .choose-tech {
    background-color: $campudus-blue;
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    float: left;

    span {
      display: block;
      background-color: $dark-color;
      width: calc(50% - 1.5px);
      position: relative;
      margin: 0;
      height: 100%;

      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }

      &.checked {
        height: 100%;

        i, p {
          animation: doit 0.1s;
          -moz-animation: doit 1s; /* Firefox */
          -webkit-animation: doit 0.1s; /* Safari and Chrome */
          -webkit-animation-timing-function: ease-out;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          backface-visibility: hidden;
          perspective: 1000px;
        }

        i {
          opacity: 0;
        }

        p {
          opacity: 1;
        }
      }

      i, p {
        line-height: 60px;
      }

      i {
        color: $darker-color;
        font-size: 2em;
        transition: opacity 0.2s ease-out;
        -webkit-transition: opacity 0.2s ease-out;
        opacity: 1;
      }

      p {
        opacity: 0;
        color: $highlight-color;
        font-family: $leagueGothic;
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5em;
        width: 100%;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  h3 {
    margin: 0.3em 0 0 0;
    -webkit-backface-visibility: hidden;
  }

  .description {
    display: none;
  }

  i {
    font-size: 4em;
  }

  i.icon-vertx {
    font-size: 2em;
  }

  &.checked {
    .shadow {
      opacity: 1;
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: -1;
    background-color: $campudus-blue;
  }

}

@media only screen and (min-width: 40.063em) {
  .technology .medium-block-grid-2 > li {
    width: 48%;
    list-style: none;
  }
}

@media only screen and (min-width: 64.063em) {
  .technology .large-block-grid-4 > li {
    width: 23%;
    list-style: none;
  }
}

@media only screen and (max-width: 64.063em) {
  .technology-header {
    .tech-header-column.columns {
      margin-bottom: 2em;
    }
  }
}

@media only screen and (max-width: 641px) {
  .tech-item {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    float: none;
    overflow: hidden;

    &[class*="column"] + [class*="column"]:last-child {
      float: none;
    }
  }
}

#recruitment {

  input {
    border-radius: 8px;
    border: 0;
    background-color: $dark-color;
    height: 3.5rem;
    font-family: $leagueGothic;
    font-size: 2.5em;
    color: $highlight-color;
    text-align: center;

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &:-moz-placeholder {
      color: $gray;
    }

    &::-moz-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }
  }

  label {
    color: white;
    text-transform: uppercase;
  }

  label, button {
    font-size: 2.5em;
    font-family: $leagueGothic;
  }

  button {
    margin-top: 3rem;
    position: relative;
    padding: 0.5rem 2rem 0.5rem 2.5rem;
    border-radius: 8px;
    background-color: $light-color;
    border: 2px solid $dark-color;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 $dark-color;
    outline-style: none;

    &:hover {
      background: $campudus-blue;
    }

    i {
      display: inline-block;
      font-size: 2rem;
    }
  }
}

.number {
  font-size: 1.7em;
  font-weight: 400;
  margin: 0 5px;
  color: $highlight-color;

  @media only screen and (max-width: 64.063rem) {
    font-size: 1.3rem;
  }
}

.checked .reset-points {
  visibility: visible;
}

.reset-points {
  display: block;
  visibility: hidden;
  padding: 1rem 0;
  font-size: 1.3em;
  color: $highlight-color;
  text-align: left;
  box-sizing: border-box;

  .icon-undo {
    margin-right: 5px;
  }
}

.contact-headtext {
  margin-bottom: 4rem;
}

.contact-intro {
  margin-bottom: 3em;
}

.character {

  .avatar {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: $light-color;
    border: 3px solid $dark-color;
    margin: 0 auto;

    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);

    &.shake {
      animation: shake 0.52s cubic-bezier(.36, .07, .19, .97) both;
      -moz-animation: shake 0.52s cubic-bezier(.36, .07, .19, .97) both;
      -webkit-animation: shake 0.52s cubic-bezier(.36, .07, .19, .97) both;
      transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    &.press {
      animation: doit 0.2s;
      -moz-animation: doit 1s; /* Firefox */
      -webkit-animation: doit 0.2s; /* Safari and Chrome */
      -webkit-animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }

    .pointsContainer {
      position: absolute;
      right: 0;
      top: 5%;

      &.highlight .value {
        background-color: $text-color;
        border: 7px solid $highlight-color;

        span {
          color: $dark-color;
        }
      }

      .plus {
        display: inline-block;
        font-size: 30px;
        top: -33px;
        right: 0;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
      }

      .value {
        position: relative;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
        background-color: $light-color;
        border: 7px solid $dark-color;
        font-size: 3em;
        font-family: $leagueGothic;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0); /* Safari */
          transform: translate3d(-50%, -50%, 0);
          color: $text-color;
        }
      }
    }

    .avatar-icon {
      width: 85%;
      height: 85%;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: transform 0.2s ease-in-out;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: auto;
      margin-top: 7%;
    }

    .svg & {
      .design-doctor {
        background-image: url("/images/recruit/designDoctor.svg");
      }

      .frontend-ninja {
        background-image: url("/images/recruit/fearless_frontend_ninja.svg");
      }

      .full-stack {
        background-image: url("/images/recruit/hulk.svg");
      }

      .backend-bear {
        background-image: url("/images/recruit/bashing_backend_bear.svg");
      }
    }

    .no-svg & {
      .design-doctor {
        background-image: url("/images/recruit/designDoctor.png");
      }

      .frontend-ninja {
        background-image: url("/images/recruit/fearless_frontend_ninja.png");
      }

      .full-stack {
        background-image: url("/images/recruit/full_stack_hacker.png");
      }

      .backend-bear {
        background-image: url("/images/recruit/bashing_backend_bear.png");
      }
    }
  }

  .notify {
    background-color: $dark-color;
    margin-top: 3rem;
    padding: 1rem 0;
    position: fixed;
    bottom: -1px;
    color: $text-color;
    font-size: 1.5em;
    font-weight: 300;
    font-family: $sourcesans;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    z-index: -9999;
    left: 0;
    float: none !important;

    &.visible {
      opacity: 1;
      z-index: 9999;
    }

    p {
      vertical-align: middle;
    }

    span {
      color: $highlight-color;
      font-size: 1.7em;
      font-weight: 600;
      margin: 0 5px;
    }

    @media only screen and (max-width: 64.063rem) {
      font-size: 1.4rem;

      span {
        font-size: 1.7rem;
      }
    }

    @media only screen and (max-width: 430px) {
      font-size: 1rem;

      span {
        font-size: 1.2rem;
      }
    }
  }

  @media only screen and (max-width: 1439px) and (min-width: 64.063rem) {
    .avatar {
      width: 100%;
      max-width: 225px;
      height: 225px;

      .pointsContainer {
        top: -3%;
      }
    }

    h3 {
      font-size: 2em;
    }

    .description, a {
      font-size: 1.2em;
    }
  }

  @media only screen and (min-width: 1440px) {
    font-size: 0.9rem;

    .avatar {
      width: 100%;
      max-width: 320px;
      height: 320px;
    }
  }

  @media only screen and (max-width: 1200px) {
    font-size: 0.9rem;
  }

  @media only screen and (min-width: 1025px) {
    h3, .description {
      text-align: left;
    }
  }

  @media only screen and (max-width: 1024px) {
    h3, .description {
      text-align: center;
    }
  }

  @media only screen and (max-width: 64.063rem) {
    .reset-points {
      text-align: center;
      font-size: 1.5em;
    }

    .avatar {
      float: none;
    }
  }

}

.popup {
  display: none;
}

.popup.active {
  top: 0;
  display: block;
  z-index: 999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .popup-wrapper {
    position: relative;
    height: inherit;
    z-index: 99999999;

    .center {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      width: 100%;
      max-width: 600px;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0);
    }

    img {
      display: block;
      width: 100%;
    }

    .continue {
      display: inline-block;
      margin-top: 3rem;
      font-family: $leagueGothic;
      font-size: 3em;
      padding: 0.5rem 2rem 0.5rem 2.5rem;
      border-radius: 8px;
      background-color: #0093EB;
      border: 2px solid #005993;
      text-transform: uppercase;
      box-shadow: 0 5px 0 0 #005993;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}

footer {
  .uncollapse.row {
    padding: 2%;
    border: 0;
  }

  ul {
    list-style-type: none;

    li {
      font-family: $leagueGothic;
      font-size: 1.75em;
      text-transform: uppercase;
      text-align: center;

      &.home {
        text-align: right;
      }

      &.imprint {
        text-align: left;
      }
    }
  }

  a:hover, a:focus {
    color: $highlight-color;
  }
}