/* Font */

$fontFamilyMonospace: "Source Code Pro", Menlo, Monaco, "Courier New", monospace;
$fontFamilyStandard: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Colors */

$colorPrimary: #006cb4;
$colorFontPrimary: #445561;
$colorFontHeading: #445561;