$sourcesans: 'Source Sans Pro', sans-serif;
$leagueGothic: 'League Gothic', sans-serif;

$campudus-blue: #006db4;
$yellow: #f7d933;
body {
  background-color: $campudus-blue;
}

i {
  font-style: normal;
  //SEO Text
  span{
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: white;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: $leagueGothic;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 3vw;
  padding-bottom: 10px;
}

p {
  font-size: 14px;
  font-family: $sourcesans;
}

#logo{
  font-size:2vw;
}

header div, .headtext div, .content div, .character div, .technology div, .contact div {
  text-align: center;
}

.headtext h1 {
  background: $yellow;
  color: $campudus-blue;
  transform: rotate(-1deg);
  display: inline-block;
  padding: 0 0.5em;
  white-space: nowrap;
}

.headtext, .content, .character, .technology, .contact {
  padding: 50px 0px;

}

.headtext div {
  @include grid-column(
  $center: true
  )
}