$sourcesans: 'Source Sans Pro', sans-serif;
$leagueGothic: 'League Gothic', sans-serif;

$campudus-blue: #006db4;
$lightblue: #0093eb;
$yellow: #f7d933;
$insetColor: rgba(0, 0, 0, 0.25);
$darkblue: #005993;

// Foundation override
.row {
  max-width: 100rem;
  border-bottom: 3px solid #fff;
  padding: 15% 0;
}

header.row {
  border: none;
  padding: 2% 0 0 0;
}

body {
  background-color: $campudus-blue;
}

i {
  font-style: normal;
  //SEO Text
  span {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $leagueGothic;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  line-height: 1.5em;
  font-family: $sourcesans;
  font-weight: 300;
  font-size: 1.25rem;
}

#logo {
  font-size: 30px;

  @media only screen and (min-width: 40.063em) {
    font-size: 40px;
  }

}

header div, .headtext div, .content div, .character div, .technology div, .contact div {
  text-align: center;
}

.headtext {
  text-align: center;

  @media only screen and (min-width: 40.063em) {
    padding-top: 11%;
  }

  h1 {
    background: $yellow;
    color: $campudus-blue;
    transform: rotate(-1deg);
    display: inline-block;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    font-size: 14vw;

    @media only screen and (min-width: 40.063em) {
      font-size: 6vw;
      white-space: nowrap;
    }
  }

  p {
    max-width: 30em;
    margin: 0 auto;

    &.small {
      font-size: 14px;

      &:before {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #ffffff;
        margin: 20px auto;
        content: " ";
      }
    }

    &.intro {
      margin-bottom: 0.5em;
    }

    @media only screen and (min-width: 40.063em) {
      font-size: 1.8vw;
    }

  }

}

// Form

form {
  max-width: 30vw;
  margin: 0 auto;
  text-align: center;
}

i.icon-check {
  font-size: 2.5rem;
  color: $darkblue;
}

.checked i.icon-check {
  color: $yellow;
}

.tech-item {
  min-height: 150px;
  position: relative;
  padding: 2% 0 !important;

  h3 {
    font-size: 3rem;
  }

  .description {
    display: none;
  }

  i {
    font-size: 4rem;
    margin: 2%;
    line-height: 4rem;
    display: block;
  }

  i.icon-vertx {
    font-size: 2rem;
  }

  i.icon-check {
    font-size: 2.5rem;
  }

  &.checked {
    -webkit-box-shadow: inset 0 0 100px $insetColor;
    -moz-box-shadow: inset 0 0 100px $insetColor;
    box-shadow: inset 0 0 100px $insetColor;
  }
}

#recruitment {

  input {
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: $darkblue;
    height: 3vw;
    font-family: $leagueGothic;
    font-size: 1.75rem;
    color: $yellow;
    text-align: center;
  }

  label {
    color: white;
    text-transform: uppercase;
  }

  label, button {
    font-size: 2vw;
    font-family: $leagueGothic;
  }

  button {
    border-radius: 8px;
    background-color: $lightblue;
    border: 3px solid $darkblue;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 $darkblue;
  }

}

footer {

  .row {
    padding: 2%;
    border: 0;
  }

  ul {
    list-style-type: none;

    li {
      font-family: $leagueGothic;
      font-size: 1.75rem;
      text-transform: uppercase;

      &.home {
        text-align: right;
      }
    }
  }
}