$sourcesans: 'Source Sans Pro', sans-serif;
$leagueGothic: 'League Gothic', sans-serif;

$campudus-blue: #006db4;
$yellow: #f7d933;

// Foundation override
.row {
  max-width: 100rem;
  border-bottom: 3px solid #fff;
  padding: 15% 0;
}

header.row {
  border: none;
  padding: 2% 0 0 0;
}

body {
  background-color: $campudus-blue;
}

i {
  font-style: normal;
  //SEO Text
  span {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $leagueGothic;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  line-height: 1.5em;
  font-family: $sourcesans;
  font-weight: 300;
  font-size: 1.25rem;
}

#logo {
  font-size: 30px;

  @media only screen and (min-width: 40.063em) {
    font-size: 40px;
  }

}

header div, .headtext div, .content div, .character div, .technology div, .contact div {
  text-align: center;
}

.headtext {
  text-align: center;

  @media only screen and (min-width: 40.063em) {
    padding-top: 11%;
  }

  h1 {
    background: $yellow;
    color: $campudus-blue;
    transform: rotate(-1deg);
    display: inline-block;
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    font-size: 14vw;

    @media only screen and (min-width: 40.063em) {
      font-size: 6vw;
      white-space: nowrap;
    }
  }

  p {
    max-width: 30em;
    margin: 0 auto;

    &.small {
      font-size: 14px;

      &:before {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #ffffff;
        margin: 20px auto;
        content: " ";
      }
    }

    &.intro {
      margin-bottom: 0.5em;
    }

    @media only screen and (min-width: 40.063em) {
      font-size: 1.8vw;
    }

  }

}

// Form

form {
  max-width: 30vw;
  margin: 0 auto;
  text-align: center;
}

#recruitment {

  input {
    border-radius: 8px;
    border-color: #007ac9;
    background-color: #034d7e;
    height: 3vw;
  }

  label {
    color: white;
  }

  label, button {
    font-size: 2vw;
    font-family: $leagueGothic;
  }

  button {
    border-radius: 8px;
    background-color: #034d7e;
    border-color: #007ac9;
  }
}
